#admin-nav {
  width: 100%;
  justify-content: flex-end;
}

.create-product-admin {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-product-button-admin {
  width: 250px;
  height: 100px;
  border-radius: 8px;
}

.admin-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #333;
}

.product-card p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #555;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff2222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #45a049;
}
