main{
    width: 80%;
    margin: 20px auto;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div[class*="_filter"] {
    margin: 10px auto;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

button, select {
    background-color: white;
    color:black;
    border: 0.5px solid rgb(230, 230, 230);
    padding: 5px 8px;
    border-radius: 2px;
}

button:hover {
    background-color: black;
    color:white;
}

select:hover {
    border: 2px solid black;
}

.product-list {
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin: 20px auto;
}

.filter-wrapper {
    display: none;
}

.active{
    display: block;
}