main{
    width: 80%;
    margin: 20px auto;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.women-filter,
.men-filter,
.children-filter {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

button, select {
    display: inline-block;
    background-color: white;
    color:black;
    border: 0.5px solid rgb(230, 230, 230);
    padding: 5px 8px;
    border-radius: 2px;
    white-space: nowrap;
}

button:hover {
    background-color: black;
    color:white;
}

select:hover {
    border: 2px solid black;
}

.sort-wrapper {
    display: flex;
    align-items: center;
    gap:5px;
}


/* product list */
.product-list {
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin: 20px auto;
}

.product-list *:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.product-card {
    width: 23.5%;
    height: fit-content;
}

img {
    max-width: 100%;
    height: auto; 
}

.product-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-price {
    font-weight: 800;
}