.hero{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 50vw;
    background-image: url(../img/hero-family.jpg);
    background-size: cover;
    background-position: center -130px;
    background-repeat: no-repeat;
}

.hero-overlay{
    position: absolute;
    top: 20%;
    left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(246, 241, 241);
}