/* Hero div with image inside */
.hero{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 70vh;
    background-image: url(../img/hero-family.jpg);
    background-size: cover;
    background-position: center -130px;
    background-repeat: no-repeat;
}
/* Text inside .hero */
.hero-overlay{
    position: absolute;
    top: 20%;
    left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-shadow: 1px 1px 4px rgb(246, 241, 241);
    text-align: center;
}
/* Section around department divs */
.departments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 10px auto;
    gap: 10px;
}
/* All text inside department section */
.departments * {
    align-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-shadow: 1px 1px 4px rgb(246, 241, 241);
    text-align: center;
    font-size: 40;
}
/* Image men div */
.men{
    width: 100%;
    height: 300px;
    background-image: url(../img/man.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Image women div */
.women{
    width: 100%;
    height: 300px;
    background-image: url(../img/woman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Image children div */
.child{
    width: 100%;
    height: 300px;
    background-image: url(../img/child.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Links */
.department-links{
    display: block;
    height: -webkit-fill-available;
}
h1{
    font-size: 50px;
}
